<config>
    <modules>
        <Inchoo_SupportTicket>
            <version>0.0.3</version>
        </Inchoo_SupportTicket>
    </modules>
    <global>
        <models>
            <inchoo_supportticket>
                <class>Inchoo_SupportTicket_Model</class>
                <resourceModel>inchoo_supportticket_resource</resourceModel>
            </inchoo_supportticket>
            <inchoo_supportticket_resource>
                <class>Inchoo_SupportTicket_Model_Resource</class>
                <entities>
                    <ticket>
                        <table>inchoo_supportticket_ticket</table>
                    </ticket>
                    <ticket_comment>
                        <table>inchoo_supportticket_ticket_comment</table>
                    </ticket_comment>
                </entities>
            </inchoo_supportticket_resource>
        </models>
        <helpers>
           <inchoo_supportticket>
                <class>Inchoo_SupportTicket_Helper</class>
            </inchoo_supportticket>
        </helpers>
        <blocks>
            <inchoo_supportticket>
                <class>Inchoo_SupportTicket_Block</class>
            </inchoo_supportticket>
            <customer>
               <rewrite>
                    <account_navigation>Inchoo_SupportTicket_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <resources>
            <inchoo_supportticket_setup>
                <setup>
                    <module>Inchoo_SupportTicket</module>
                </setup>
            </inchoo_supportticket_setup>
        </resources>
        <template>
            <email>
                <inchoo_supportticket_email_template translate="label" module="inchoo_supportticket">
                    <label>Inchoo Email</label>
                    <file>inchoo_email_template.html</file>
                    <type>html</type>
                </inchoo_supportticket_email_template>
            </email>
        </template>
    </global>
    <default>
        <inchoo_supportticket>
            <email>
                <enabled>1</enabled>
                <template>inchoo_supportticket_email_template</template>
            </email>
        </inchoo_supportticket>
    </default>
    <frontend>
        <events>
            <ticket_added_event_handle>
                <observers>
                    <ticket_observer>
                        <class>inchoo_supportticket/observer</class>
                        <method>sendMailToAdmin</method>
                    </ticket_observer>
                </observers>
            </ticket_added_event_handle>
        </events>
        <routers>
            <inchoo_tickets>
                <use>standard</use>
                <args>
                    <module>Inchoo_SupportTicket</module>
                    <frontName>tickets</frontName>
                </args>
            </inchoo_tickets>
        </routers>
        <layout>
            <updates>
                <inchoo_supportticket module="inchoo_supportticket">
                    <file>support_ticket.xml</file>
                </inchoo_supportticket>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Inchoo_SupportTicket before="Mage_Adminhtml">Inchoo_SupportTicket_Adminhtml</Inchoo_SupportTicket>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <inchoo_supportticket module="inchoo_supportticket">
                    <file>support_ticket.xml</file>
                </inchoo_supportticket>
            </updates>
        </layout>
    </adminhtml>
</config>
